.footer {
    background: #343A40;
    height: 300px;
    margin-top: 100px;
    color: #dae6ea;
    padding-top: 20px;
    font-family: 'Open Sans';


    .navigation-footer {
        height: 230px;
        display: flex;
        justify-content: space-around;
    }

    .left-navigation, .right-navigation {
        list-style: none;
        width: 200px;
    

        li {
            cursor: pointer;
            padding: 5px;

            &:hover {
                color: white;
            }
        }
    }


    .footer-end {
        
        padding: 0 50px;
        height: 70px;
        background-color: #212529;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #868E96;

        p {
            font-size: 11px;
            
        }

        .icons-container {
            display: flex;
            justify-content: space-between;

            a {
                padding: 0 10px;
                transition: 0.2s ease-in;
                text-decoration: none;
                color: #868E96;

                &:hover {
                    cursor: pointer;
                    color: white;
                    transition: 0.2s ease-in;
                }
            }
        }
    }
}